body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: inline-block;
    width: 800px;
}

.bulb {
    float: left;
    width: 50%;
    background-image: url(./../img/lightbulb.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 650px;
    position: relative;
}

.light {
    font-size: 2px;
    height: 100em;
    width: 100em;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: 170px;
    box-shadow: 0px 0px 50px 30px blue;
    animation-name: lights;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes lights {
    0%{
        background-color: blue;
        box-shadow: 0px 0px 50px 30px blue;
    }
    20% {
        background-color: goldenrod;
        box-shadow: 0px 0px 50px 30px goldenrod;
    }

    40%{
        background-color: greenyellow;
        box-shadow: 0px 0px 50px 30px greenyellow;
    }
    60%{
        background-color: red;
        box-shadow: 0px 0px 50px 30px red;
    }
    80%{background-color: yellow;
        box-shadow: 0px 0px 50px 30px yellow;}
}

.battery {
    display: inline-block;
    width: 400px;
    height: 180px;
    border: 20px solid #333;
    border-radius: 10px;
    position: relative;
}
.battery::after {
    content: '';
    width: 20px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(200%, -50%);
    background-color: #333;
}
.battery::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0%;
    left: 50%;
    transform: translate(0%, 0%);
    animation-name: batt;    
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 1s;
}

@keyframes batt {
    10% {
        width: 10%;
        background-color: #ff0000;
    }
    20% {
        width: 20%;
        background-color: #ffa600;
    }
    30% {
        width: 30%;
        background-color: #eeff00;
    }
    40% {
        width: 40%;
        background-color: #eeff00;
    }
    60% {
        width: 60%;
        background-color: #c8ff00;
    }
    80% {
        width: 80%;
        background-color: #7bff00;
    }
    100% {
        width: 100%;
        background-color: #2bff00;
    }
}